/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-title{
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 6px;
}

.main-sub-title{
    font-family: 'Homemade Apple', cursive;
}



